<h3><%= @team.name %> </h3>
<p>Hi <%= current_user.name %> <a href="/users/sign_out">注销</a> </p>
<p><a href="/teams/<%= @team.id %>/events">全部动态</a></p>
<% @projects.each do |project| %>
  <p><a href="/teams/<%= @team.id %>/events?project_id=<%= project.id %>"><%= project.name %>的动态</a></p>
<% end %>

